# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.
# -*- mode: yaml -*-

language: generic

os: osx
osx_image: xcode9.4


env:
  matrix:
    - CONFIG=osx_python2.7
    - CONFIG=osx_python3.6
    - CONFIG=osx_python3.7

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "Ox/yuhx+NOWszJJ4GmXWv7u+/MpNZe4av/03vQFFGj15r9AaT9FzHAbJNoQAxFyO3y1gJ+7xIJzZokL+xWYgeJfdp5bGyJMGjIDGed4wCPfy41mSHPf/jcq++05xptYzad5EQypBZFHgQ65ODaq2p++3krxEedHUNI27Zb5HXn8qJ4AaPmTNmzIj+ZjJZoS8XordY+3f3JEL9fnTHvFylHonJGXu6uhb8Fkdh13m9dUQHQUDWnTd+04gOuy35vvH59zRyw95pC9ZvueetorzVWWJOst/SmLfV2lnX2qoeSGHjTdLyuGL8KBE0G1G34pOaAGymaLCK48bynnI7Ff5T30B0PsVUJTUnQdqCB0TDrddjYs5jwRe6X5MR8pnzdiJis0EkHY+ODuoY1xTumKmvWhoEIuSO1RvzQKcKMYG/u8aQ+nQD5TvIsPIlsPS9LaaFSA/jCypIIsHO7KweU+0fKtZMO4m0+MKJdGPHeVms2KtXT72j90l0Uq0WtGHqgm4CZwpidKevaXM76G/nmKyRs4u2IQ2i82bS15HxEb06T1EAYUKuN1syx/T76PDuG1ydgFyy+gfS5pZpDK9Kej0pYcoSaD/x1jd+MDtqx0ZyZuta0DNwX9jh38yBiw0wSshua345jYWgdAwFHsQyNmFYLbqct6ATBD0VokHiBliCQQ="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/master/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install -n root -c conda-forge --quiet --yes conda-forge-ci-setup=2 conda-build
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  -  conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml